body {
  background-image: url('/nebulafield.jpg');
  background-repeat: none;
  background-color: #000000;
  font-family: "Trebuchet MS";
}

.ship {
  background-image: url('/spaceship.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  color: #ffffff;
  font-size: 0.6em;
}

.bullet {
  position: fixed;
  display: block;
}

.friendly {
  background-color: #00aaff;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  margin-top: -1px;
}

.power {
  background-color: #00ff00;
  width: 50px;
  margin-left: -25px;
}

.superpower {
  background-color: transparent;
  height: 26px;
  width: 26px;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.enemy {
  background-color: #ff0000;
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  margin-top: -2.5px;
  border-radius: 3px;
  border: 0px;
}

.hit {
  background-color: #ff7700;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 10px;
  border: 0px;
}

.enemy_ship_1 {
  background-image: url('/nightraider.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  font-size: 0.6em;
  color: #ffffff;
}

.enemy_ship_2 {
  background-image: url('/nightraider.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  font-size: 0.6em;
  color: #ffffff;
}

.powerup {
  position: fixed;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 18px;
  border: 2px solid #aaaaaa;
}

.healthUp {
  background-color: #ff0000;
}

.levelUp {
  background-color: #00aaff;
}

.clearEnemies {
  background-color: #ff00ff;
}

#hud {
  position: fixed;
  display: inline;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.hud {
  margin-top: 70px;
  margin-left: -20px;
}

.health {
  display: inline-block;
  height: 2px;
  background-color: #990000;
}