body {
  background-image: url('/nebulafield.jpg');
  background-repeat: none;
  background-color: #000000;
  font-family: "Trebuchet MS";
}

.ship {
  background-image: url('/spaceship.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  color: #ffffff;
  font-size: 0.6em;
}

.bullet {
  position: fixed;
  display: block;
}

.friendly {
  background-color: #00aaff;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  margin-top: -1px;
}

.enemy {
  background-color: #ff0000;
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  margin-top: -2.5px;
  border-radius: 3px;
  border: 0px;
}

.hit {
  background-color: #ff7700;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 10px;
  border: 0px;
}

.enemy_ship {
  background-image: url('/nightraider.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  font-size: 0.6em;
  color: #ffffff;
}

#hud {
  position: fixed;
  display: inline;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.hud {
  margin-top: 70px;
  margin-left: -20px;
}

.health {
  display: inline-block;
  height: 2px;
  background-color: #ff0000;
}